{
  "slam_configuration": {
    "vocabulary_path": "/ABSOLUTE/PATH/TO/simulatorMapping/Thirdparty/slam/Vocabulary/ORBvoc.txt",
    "drone_yaml_path": "/ABSOLUTE/PATH/TO/simulatorMapping/Thirdparty/slam/config/tello_9F5EC2_640.yaml",
    "load_map": false,
    "load_map_path": "/ABSOLUTE/PATH/TO/your-data/slamMaps/example_mapping/simulatorMap.bin",
    "save_map": true
  },
  "simulator_configuration": {
    "model_path": "/ABSOLUTE/PATH/TO/your-data/models/room.obj",
    "run_with_slam": false,
    "movement_factor": 0.05,
    "simulator_starting_speed": 1,
    "align_model_to_texture": {
      "align": true,
      "texture": "floor"
    },
    "starting_pose": {
      "x": 0.1,
      "y": -0.1,
      "z": 0.3
    },
    "simulator_output_dir": "/ABSOLUTE/PATH/TO/your-data/slamMaps/"
  },
  "offline_video_test_path": "/ABSOLUTE/PATH/TO/your-data/videos/mapping.avi",
  "continue_scanning": false,
  "use_webcam": true,
  "target_pose": {
    "x": 1.0,
    "y": 2.0,
    "z": 3.0
  }
}
